<form [formGroup]="form" (submit)="submit()" >
   
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <input formControlName="username" type="text" class="form-control" placeholder="username">

      <input formControlName="email" type="email" class="form-control" placeholder="email">

      <input formControlName="address" type="text" class="form-control" placeholder="address">
     
      <input formControlName="password" type="password" class="form-control" placeholder="password">

      <input formControlName="confirmedPassword" type="password" class="form-control" placeholder="confirmedPassword">
     
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

  </form>